## Context

We need the area of family agriculture per municipality. The data we have provides the area of family agriculture per state and the number of families per municipality.

We will make the approximation that the area of the municipality is proportional to the number of families in the municipality, that is,

$A_{municipality} = A_{state} \cdot \frac{families_{municipality}}{families_{state}}$

## Setup

In [ ]:
from google.colab import drive
drive.mount ("/content/drive")

Mounted at /content/drive

In [ ]:
import pandas as pd

## Reading the data

Program data per municipality

In [ ]:
# Number of families
data_municipios = pd.read_csv('/content/drive/MyDrive/Data Competitions/BCG Gamma 2022/Dados - GAMMA Challenge 2022/Dados Extras/agricultura_familiar_municipios_complete.csv')
data_municipios = data_municipios[data_municipios["Referência"] == "12/2021"]
data_municipios

,Código,Unidade Territorial,UF,Referência,Agricultores familiares fornecedores do Programa Alimenta Brasil,Recursos financeiros pagos aos agricultores familiares fornecedores do Programa Alimenta Brasil
7,120001,ACRELÂNDIA,AC,12/2021,24,64901.20
16,120005,ASSIS BRASIL,AC,12/2021,18,47799.25
23,120010,BRASILÉIA,AC,12/2021,54,111367.32
34,120013,BUJARI,AC,12/2021,23,76536.73
45,120017,CAPIXABA,AC,12/2021,49,98417.80
...,...,...,...,...,...,...
28875,172120,TOCANTINÓPOLIS,TO,12/2021,10,53934.95
28885,172125,TUPIRAMA,TO,12/2021,4,22504.10
28894,172130,TUPIRATINS,TO,12/2021,25,139934.30
28901,172208,WANDERLÂNDIA,TO,12/2021,14,51645.81
28913,172210,XAMBIOÁ,TO,12/2021,6,28916.25

Area per state

In [ ]:
data_uf = pd.read_csv('/content/drive/MyDrive/Data Competitions/BCG Gamma 2022/Dados - GAMMA Challenge 2022/Dados Extras/area_agricultura_familiar_por_estado.csv')
data_uf

  Estado  Area(ha)
0     AC   2017305
1     AP    296432
2     AM   1766255
3     MA   3780319
4     MT   5131104
5     PA   8624592
6     RO   3480247
7     RR    696140
8     TO   2886229

## Calculations

Number of families per state

In [ ]:
families_per_state = data_municipios.groupby('UF').sum()['Agricultores familiares fornecedores do Programa Alimenta Brasil']
data_uf['familias_no_estado'] = data_uf['Estado'].map(families_per_state)
data_uf

Join municipalities with state

In [ ]:
area_municipio = data_municipios.merge(data_uf, left_on="UF", right_on="Estado")
area_municipio

Approximation $A_{municipality} = A_{state} \cdot \frac{families_{municipality}}{families_{state}}$

In [ ]:
area_municipio['area_municipio(ha)'] = (area_municipio['Agricultores familiares fornecedores do Programa Alimenta Brasil'] / area_municipio['familias_no_estado']) * area_municipio['Area(ha)']
area_municipio

In [ ]:
area_municipio[['Código', 'Unidade Territorial', 'UF', 'area_municipio(ha)']].to_csv('/content/drive/MyDrive/Data Competitions/BCG Gamma 2022/Dados - GAMMA Challenge 2022/Dados Extras/area_por_municipio.csv', index=False)